ol.c { 
    border-left: thin solid lightblue;
    list-style-type: none;
    padding-left: 0.3em;
}
ol.c span { cursor:s-resize }
ol.c span.open { cursor:n-resize }
ol.c span:hover { background-color:#efefef }
