<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wikisource (Validated Works)</title>
        <link rel="stylesheet" href="css/foundation.min.css" />
        <link rel="stylesheet" href="css/style.css" />
        <script src="js/vendor/modernizr.js"></script>
    </head>
    <body>

        <div class="row">
            <div class="large-12 columns">
                <h1>Wikisource <small>(Validated Works)</small></h1>
                <p>
                    This page presents the categorisation of the {{ total }} works
                    on the <a href="https://en.wikisource.org/">English Wikisource</a>
                    that are categorised, backed by scans, and have been proofread by at least two contributors.
                </p>
